- name: populate database
  shell: su -s /bin/sh -c "glance-manage db_sync" glance

- name: restart glance-registry
  service: name=glance-registry state=restarted

- name: restart glance-api
  service: name=glance-api state=restarted
