[DEFAULT]
verbose = True
debug = True

dhcpbridge_flagfile=/etc/nova/nova.conf
dhcpbridge=/usr/bin/nova-dhcpbridge
logdir=/var/log/nova
state_path=/var/lib/nova
lock_path=/var/lock/nova
force_dhcp_release=True
libvirt_use_virtio_for_bridges=True
ec2_private_dns_show_ip=True
api_paste_config=/etc/nova/api-paste.ini
enabled_apis=osapi_compute,metadata

rpc_backend = rabbit

auth_strategy = keystone
{% if network_type == "openvswitch" %}
my_ip = {{ ansible_osm["ipv4"]["address"] }}
{% endif %}
{% if network_type == "vxlan" %}
my_ip = {{ ansible_eth0["ipv4"]["address"] }}
{% endif %}

network_api_class = nova.network.neutronv2.api.API
security_group_api = neutron
linuxnet_interface_driver = nova.network.linux_net.LinuxOVSInterfaceDriver
firewall_driver = nova.virt.firewall.NoopFirewallDriver

# http://docs.openstack.org/liberty/config-reference/content/section_compute-scheduler.html#diskfilter
# Allow to do "disk overbooking"
disk_allocation_ratio = 2.0


[vnc]
{% if network_type == "openvswitch" %}
vncserver_listen = {{ ansible_osm["ipv4"]["address"] }}
vncserver_proxyclient_address = {{ ansible_osm["ipv4"]["address"] }}
{% endif %}
{% if network_type == "vxlan" %}
vncserver_listen = {{ ansible_eth0["ipv4"]["address"] }}
vncserver_proxyclient_address = {{ ansible_eth0["ipv4"]["address"] }}
{% endif %}



[database]
connection = {{ relational_database_driver[relational_database] }}://{{ keystone_nova_name }}:{{ nova_dbpass }}@{{ admin_hostname }}/nova


[keystone_authtoken]
auth_uri = http://{{ admin_hostname }}:5000
auth_url = http://{{ admin_hostname }}:35357
auth_plugin = password
project_domain_id = default
user_domain_id = default
project_name = {{ keystone_service_project_name }}
username = {{ keystone_nova_name }}
password = {{ keystone_nova_password }}


[glance]
host = {{ admin_hostname }}


[neutron]
url = http://{{ admin_hostname }}:9696
auth_url = http://{{ admin_hostname }}:35357
auth_url = http://{{ admin_hostname }}:35357
auth_plugin = password
project_domain_id = default
user_domain_id = default
region_name = {{ region_name }}
project_name = {{ keystone_service_project_name }}
username = {{ keystone_nova_name }}
password = {{ keystone_nova_password }}

service_metadata_proxy = True
metadata_proxy_shared_secret = {{ metadata_secret }}


[oslo_messaging_rabbit]
rabbit_host = {{ controller_hostname }}
rabbit_userid = {{ rabbitmq_user }}
rabbit_password = {{ rabbitmq_password }}


[oslo_concurrency]
lock_path = /var/lib/nova/tmp


[cinder]
os_region_name = {{ region_name }}
