export OS_TENANT_NAME={{ keystone_admin_tenant_name }}
export OS_USERNAME={{ keystone_admin_name }}
export OS_PASSWORD={{ keystone_admin_password }}
export OS_AUTH_URL=http://{{ admin_hostname }}:35357/v2.0
