export OS_TENANT_NAME={{ keystone_user_tenant_name }}
export OS_USERNAME={{ keystone_user_name }}
export OS_PASSWORD={{ keystone_user_password }}
export OS_AUTH_URL=http://{{ admin_hostname }}:5000/v2.0
